{% load staticfiles %}

<head>
    <script type="text/javascript" src="{% static 'delete.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <h1>Morgans Home Blogs </h1>

    <input type="button" value="Copy Url Below & To Clipboard" onclick="mycopy();" />
    <br /> <textarea id="url" rows="1" cols="60"></textarea>

    <form action="/post" method="post">
{% csrf_token %}
    
        <p>Write A New Post</p>

        <p>Add your Title</p>

        <input type="text" name="title" maxlength="60" class="box text-input" />
        
        <p>Add your Body</p>
        <textarea name="body" class="box text-area"  ></textarea>
    
        <input type="submit" value="Post" />
        
    </form>


{% if blog_posts %}
    {% for post in blog_posts %}
    <form>
        <h2>{{post.title}}</h2>
        <pre>{{post.body}}</pre>
        <p>{{post.timestamp}}</p>
        <input type="submit" value="Delete" onclick="deletePost({{post.id}})"/>
    </form>
    {% endfor %}
{% else %}
    <p>No blog posts are available.</p>
{% endif %}
</body>


