{% load staticfiles %}

<head>
    <script type="text/javascript" src="{% static 'delete.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <h1>Morgans Home Blogs </h1>
    <form action="/post" method="post">
{% csrf_token %}
    
        
        <p>Add your Title</p>
        <input type="text" name="title" class="box text-input" />
        
        <p>Add your Body</p>
        <textarea name="body" class="box text-area"></textarea>
    
        <input type="submit" value="Post" />
    </form>


{% if blog_posts %}
    {% for post in blog_posts %}
    <form>
        <h2>{{post.title}}</h2>
        <div class ="max-width">
            <p>{{post.body}}</p>
        </div>
        <p>{{post.timestamp}}</p>
        <input type="submit" value="Delete" onclick="deletePost({{post.id}})"/>
    </form>
    {% endfor %}
{% else %}
    <p>No blog posts are available.</p>
{% endif %}
</body>
